/* 置顶插件 */
.to-top {
    display: none;
    padding: 10px 20px;
    margin-right: 10px;
    color: #fff;
    border-radius: 10px;
    background-color: rgb(102, 126, 233);
}

pre code.hljs {
    display   : block;
    overflow-x: auto;
    padding   : 1em
}

code.hljs {
    padding: 3px 5px
}

.hljs {
    background: #fff;
    color     : #000
}

.hljs-comment,
.hljs-quote,
.hljs-variable {
    color: green
}

.hljs-built_in,
.hljs-keyword,
.hljs-name,
.hljs-selector-tag,
.hljs-tag {
    color: #00f
}

.hljs-addition,
.hljs-attribute,
.hljs-literal,
.hljs-section,
.hljs-string,
.hljs-template-tag,
.hljs-template-variable,
.hljs-title,
.hljs-type {
    color: #a31515
}

.hljs-deletion,
.hljs-meta,
.hljs-selector-attr,
.hljs-selector-pseudo {
    color: #2b91af
}

.hljs-doctag {
    color: grey
}

.hljs-attr {
    color: red
}

.hljs-bullet,
.hljs-link,
.hljs-symbol {
    color: #00b0e8
}

.hljs-emphasis {
    font-style: italic
}

.hljs-strong {
    font-weight: 700
}


.token.punctuation{
    color: #fff;
}
.token.keyword{
    color:#66d9ef !important;
}
.token.string,.token.function{
    color:rgba(223, 226, 44, 1) !important
}
.token.comment{
    color:#6ce26ccf;
}
.token.number{
    color:rgba(255, 230, 128, 1) !important
}